
body {
    font-family: Arial, sans-serif;
  
    background-color: #120A2F; 
    color: #E0E0E0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: rgb(0, 0, 0);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo-icon img {
    height: 200px;
}
.logo-icon h1 {
    font-family: 'Days One', sans-serif;
    font-size: 40px;
    color: white;
    margin-top: 90px;
    margin-left: -300px;
    
}

.page-title {
    font-size: 24px;
    font-weight: bold; 
    color: white;
    margin: 0; 
}

.artists-container {
    padding: 0 80px 40px 80px;
    display: flex; 
    justify-content: space-between; 
    gap: 30px; 
}


.artist-column {
    flex-basis: 25%; 
    max-width: 250px; 
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    gap: 30px; 
}

.artist-name {
    font-size: 20px;
    font-weight: bold;
    color: rgb(209, 206, 206);
    margin: 0 0 15px 0;
    text-align: center;
}


.music-item {
    text-align: center;
    cursor: pointer;
    text-decoration: none; 
    color: inherit;
    display: block; 
}

.music-item img {
    width: 100%;
    height: auto; 
    aspect-ratio: 1 / 1; 
    object-fit: cover;
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s ease-in-out;
}

.music-item img:hover {
    transform: scale(1.03); 
}

.music-title {
    margin: 12px 0 0 0;
    font-size: 15px;
    font-weight: bold;
    color: rgb(209, 206, 206); 
    text-transform: uppercase; 
}

/* Estilo para "FEAT. LUDACRIS" */
.music-title span {
    display: block;
    font-size: 10px;
    font-weight: normal;
    color: #A0A0A0;
    margin-top: 2px;
}